/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  color: #FFF;
}

body,
html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font: 16px/26px "Nunito", Helvetica, Helvetica Neue, Arial;
}

::-moz-selection {
  background: #fff;
  text-shadow: none;
}

::selection {
  background: #fff;
  text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

.root {
  height: 100%;
}

.background {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.header {
  top: 0;
  display: block;
  height: 15%;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  padding: 0;
  background: linear-gradient(to top, transparent 0%, #0a0b0c 100%);
}
.header .container,
.header .row,
.header [class^=col-],
.header .title {
  height: 100%;
  float: left;
}
.header .container h1,
.header .row h1,
.header [class^=col-] h1,
.header .title h1 {
  font-size: 4em;
  text-shadow: 1px 1px 100px #0a0b0c;
  text-align: left;
}
.header .container h2,
.header .row h2,
.header [class^=col-] h2,
.header .title h2 {
  font-weight: normal;
  opacity: 0.5;
  font-size: 1.3em;
}

.content {
  display: block;
  position: relative;
  height: 60%;
  max-height: 75%;
  overflow: hidden;
}
.content .container,
.content .season-list,
.content .row,
.content [class^=col-] {
  height: 100% !important;
}
.content .container nav ul,
.content .season-list nav ul,
.content .row nav ul,
.content [class^=col-] nav ul {
  border-bottom: 2px solid rgba(187, 187, 187, 0.2);
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */
  text-align: left;
  padding: 0;
}
.content .container nav ul li,
.content .season-list nav ul li,
.content .row nav ul li,
.content [class^=col-] nav ul li {
  display: inline-block;
  padding: 10px 0;
  width: 3em;
  text-align: center;
  opacity: 0.5;
}
.content .container nav ul .liActive,
.content .season-list nav ul .liActive,
.content .row nav ul .liActive,
.content [class^=col-] nav ul .liActive {
  border-bottom: 2px solid rgba(43, 209, 24, 0.8);
}
.content .container .episodes-list,
.content .season-list .episodes-list,
.content .row .episodes-list,
.content [class^=col-] .episodes-list {
  display: block;
  height: 90%;
  position: relative;
  max-height: 90%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}
.content .container .episodes-list ul,
.content .season-list .episodes-list ul,
.content .row .episodes-list ul,
.content [class^=col-] .episodes-list ul {
  overflow: auto;
  width: 100%;
  list-style: none;
  text-align: left;
  padding: 0 4% 0 0;
  height: 100%;
}
.content .container .episodes-list ul li,
.content .season-list .episodes-list ul li,
.content .row .episodes-list ul li,
.content [class^=col-] .episodes-list ul li {
  margin: 10px 0;
  padding: 5px 0;
  border-bottom: 2px solid rgba(187, 187, 187, 0.2);
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */
}
.content .container .episodes-list ul li span,
.content .container .episodes-list ul li p,
.content .season-list .episodes-list ul li span,
.content .season-list .episodes-list ul li p,
.content .row .episodes-list ul li span,
.content .row .episodes-list ul li p,
.content [class^=col-] .episodes-list ul li span,
.content [class^=col-] .episodes-list ul li p {
  opacity: 0.8;
}
.content .container .episodes-list ul li .panel .panel-heading,
.content .season-list .episodes-list ul li .panel .panel-heading,
.content .row .episodes-list ul li .panel .panel-heading,
.content [class^=col-] .episodes-list ul li .panel .panel-heading {
  cursor: pointer;
}
.content .container .episodes-list ul li .panel .panel-collapse,
.content .season-list .episodes-list ul li .panel .panel-collapse,
.content .row .episodes-list ul li .panel .panel-collapse,
.content [class^=col-] .episodes-list ul li .panel .panel-collapse {
  overflow: hidden;
  transition: height 0.5s ease-out;
  width: 90%;
}
.content .container .episodes-list ul li .panel .panel-body,
.content .season-list .episodes-list ul li .panel .panel-body,
.content .row .episodes-list ul li .panel .panel-body,
.content [class^=col-] .episodes-list ul li .panel .panel-body {
  border: none !important;
}
.content .container .episodes-list ul li .panel h4,
.content .season-list .episodes-list ul li .panel h4,
.content .row .episodes-list ul li .panel h4,
.content [class^=col-] .episodes-list ul li .panel h4 {
  margin: 5px 0 !important;
  font-weight: 100;
  opacity: 0.8;
}
.content .container .episodes-list ul li .panel p,
.content .season-list .episodes-list ul li .panel p,
.content .row .episodes-list ul li .panel p,
.content [class^=col-] .episodes-list ul li .panel p {
  height: 100%;
  line-height: 20px;
  width: auto;
  text-align: justify;
  font-size: 12pt;
  font-weight: 100;
  opacity: 0.5;
}
.content .container .episodes-list ul li .panel .mrg-bt,
.content .season-list .episodes-list ul li .panel .mrg-bt,
.content .row .episodes-list ul li .panel .mrg-bt,
.content [class^=col-] .episodes-list ul li .panel .mrg-bt {
  margin-bottom: 20px;
}
.content .container .episodes-list ul li .playImage,
.content .season-list .episodes-list ul li .playImage,
.content .row .episodes-list ul li .playImage,
.content [class^=col-] .episodes-list ul li .playImage {
  content: "";
  position: static;
  display: inline-block;
  color: white;
  pointer-events: none;
  background-repeat: no-repeat;
  background-image: url("/public/img/play-small-player-w.svg");
  height: 2em;
  width: 2em;
  filter: opacity(50%);
  background-size: cover;
  float: right;
}

.footer {
  display: block;
  position: fixed;
  height: 25%;
  width: 100%;
  background-color: #131719;
  bottom: 0;
}
.footer .container,
.footer .row {
  height: 100% !important;
}
.footer .container .serie-infos-menu,
.footer .row .serie-infos-menu {
  margin: 1.2em 0;
}
.footer .container nav ul,
.footer .row nav ul {
  border-bottom: 2px solid rgba(187, 187, 187, 0.2);
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */
  text-align: left !important;
  padding: 0;
}
.footer .container nav ul li,
.footer .row nav ul li {
  font-size: 18pt;
  display: inline-block;
  padding: 10px 0;
  margin-right: 10%;
  width: auto;
  text-align: left;
  opacity: 0.5;
}
.footer .container nav ul .liActive,
.footer .row nav ul .liActive {
  border-bottom: 2px solid rgba(43, 209, 24, 0.8);
}
.footer .container nav ul::after,
.footer .row nav ul::after {
  content: "";
  background-repeat: no-repeat;
  background-image: url("/public/img/logo-telecine.svg");
  color: white;
  pointer-events: none;
  height: 2.1em;
  width: 3.5em;
  filter: opacity(50%);
  background-size: cover;
  right: 4%;
  top: 1em;
  position: absolute;
}
.footer .container .general h3,
.footer .row .general h3 {
  margin-top: 0.5em;
  font-size: 1.5em;
  opacity: 0.5;
}
.footer .container .general p,
.footer .row .general p {
  margin-bottom: 0;
  padding-bottom: 10px;
  opacity: 0.5;
}
.footer .container .general ul,
.footer .row .general ul {
  width: 100%;
  list-style: none;
  height: 100%;
  display: block;
  padding: 0;
  margin: 0;
}
.footer .container .general ul li,
.footer .row .general ul li {
  width: auto;
  height: auto;
  display: inline-block;
  text-align: center;
  padding: 0.5em;
  right: 0 2em;
}
.footer .container .general .general-icon,
.footer .row .general .general-icon {
  content: "";
  position: relative;
  display: block;
  color: white;
  pointer-events: none;
  background-repeat: no-repeat;
  height: 5.5em;
  width: 5.5em;
  filter: opacity(50%);
  background-size: cover;
  vertical-align: bottom;
  text-align: center;
}
.footer .container .general .general-icon div,
.footer .row .general .general-icon div {
  position: relative;
  top: 100%;
}
.footer .container .elenco-carousel,
.footer .row .elenco-carousel {
  height: 100%;
}
.footer .container .elenco-carousel div,
.footer .container .elenco-carousel .carousel-slider,
.footer .row .elenco-carousel div,
.footer .row .elenco-carousel .carousel-slider {
  height: 70%;
}
.footer .container .elenco-carousel div .carousel-slider ul,
.footer .container .elenco-carousel div .slider-wrapper,
.footer .container .elenco-carousel .carousel-slider .carousel-slider ul,
.footer .container .elenco-carousel .carousel-slider .slider-wrapper,
.footer .row .elenco-carousel div .carousel-slider ul,
.footer .row .elenco-carousel div .slider-wrapper,
.footer .row .elenco-carousel .carousel-slider .carousel-slider ul,
.footer .row .elenco-carousel .carousel-slider .slider-wrapper {
  height: 100%;
}
.footer .container .elenco-carousel div .carousel-slider ul .slide,
.footer .container .elenco-carousel div .slider-wrapper .slide,
.footer .container .elenco-carousel .carousel-slider .carousel-slider ul .slide,
.footer .container .elenco-carousel .carousel-slider .slider-wrapper .slide,
.footer .row .elenco-carousel div .carousel-slider ul .slide,
.footer .row .elenco-carousel div .slider-wrapper .slide,
.footer .row .elenco-carousel .carousel-slider .carousel-slider ul .slide,
.footer .row .elenco-carousel .carousel-slider .slider-wrapper .slide {
  background-color: #333;
  width: 20%;
  min-width: 20%;
  margin: 0 10px;
}
.footer .container .elenco-carousel div .carousel-slider ul .slide div,
.footer .container .elenco-carousel div .slider-wrapper .slide div,
.footer .container .elenco-carousel .carousel-slider .carousel-slider ul .slide div,
.footer .container .elenco-carousel .carousel-slider .slider-wrapper .slide div,
.footer .row .elenco-carousel div .carousel-slider ul .slide div,
.footer .row .elenco-carousel div .slider-wrapper .slide div,
.footer .row .elenco-carousel .carousel-slider .carousel-slider ul .slide div,
.footer .row .elenco-carousel .carousel-slider .slider-wrapper .slide div {
  height: 100%;
  margin-top: 0;
  vertical-align: middle;
  display: block;
  position: relative;
  line-height: 7em;
}
.footer .container .elenco-carousel .carousel .control-dots,
.footer .row .elenco-carousel .carousel .control-dots {
  position: relative !important;
  margin-top: 0;
  margin-bottom: 5px;
  padding-left: 0;
}

.lg {
  width: 100% !important;
  height: 86%;
}

.md {
  width: 60% !important;
  height: 95%;
}

.sm {
  width: 50% !important;
  height: 95%;
}

.xs {
  width: 40% !important;
  height: 95%;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: block;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-track-piece {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-resizer {
  display: none;
}

@media only screen and (min-width: 480px) {
  .container {
    width: 95%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    width: 95%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 1140px) {
  .container {
    width: 95%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 95%;
    max-width: 100%;
  }
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 480px) {
  .header {
    height: 10%;
  }
  .header .container,
.header .row,
.header .title {
    float: none !important;
  }
  .header .title {
    margin: 1.5em 0 !important;
  }
  .header .title h1 {
    font-size: 3em !important;
    line-height: 0.5em;
    margin: 0;
    text-align: center;
  }
  .header .title h2 {
    font-size: 1em;
    text-align: center;
  }

  .content {
    height: 90% !important;
  }
  .content .episodes-list {
    height: 80% !important;
  }

  .footer {
    overflow: auto;
    height: 40% !important;
  }
}
@media only screen and (max-width: 346px) {
  .header .title h1 {
    font-size: 1.2em !important;
  }
  .header .title h2 {
    font-size: 1em !important;
  }
}
@media only screen and (max-width: 768px) {
  .footer nav ul li {
    display: -webkit-box !important;
  }
  .footer nav ul li:last-child {
    margin-right: 0;
  }
  .footer nav ul::after {
    right: 3.1% !important;
    top: 2em !important;
  }
  .footer .elenco-carousel {
    height: 80% !important;
  }
  .footer .elenco-carousel div,
.footer .elenco-carousel .carousel-slider {
    height: 100% !important;
  }
  .footer .elenco-carousel div .carousel-slider ul,
.footer .elenco-carousel div .slider-wrapper,
.footer .elenco-carousel .carousel-slider .carousel-slider ul,
.footer .elenco-carousel .carousel-slider .slider-wrapper {
    height: 80% !important;
  }
  .footer .elenco-carousel div .carousel-slider ul .slide,
.footer .elenco-carousel div .slider-wrapper .slide,
.footer .elenco-carousel .carousel-slider .carousel-slider ul .slide,
.footer .elenco-carousel .carousel-slider .slider-wrapper .slide {
    background-color: #333;
    width: 100% !important;
    min-width: 100% !important;
    margin: 0;
    height: 2em !important;
  }
  .footer .elenco-carousel div .carousel-slider ul .slide div,
.footer .elenco-carousel div .slider-wrapper .slide div,
.footer .elenco-carousel .carousel-slider .carousel-slider ul .slide div,
.footer .elenco-carousel .carousel-slider .slider-wrapper .slide div {
    height: 2em !important;
    margin: 0.5em 0 !important;
    line-height: 2em !important;
  }
  .footer .elenco-carousel .carousel .control-dots {
    height: 10% !important;
    position: relative !important;
  }
}
@media only screen and (max-width: 960px) {
  .footer {
    height: 30% !important;
    overflow: auto;
  }
  .footer .general ul li {
    margin-bottom: 1em;
  }
  .footer .general .general-icon {
    height: 3.5em !important;
    width: 3.5em !important;
  }
}
@media (min-width: 960px) and (max-width: 1262px) {
  .footer .general .general-icon {
    height: 3.5em !important;
    width: 3.5em !important;
  }
}
@media (min-width: 1263px) and (max-width: 1465px) {
  .footer .general .general-icon {
    height: 5em !important;
    width: 5em !important;
  }
}

/*# sourceMappingURL=main.css.map */
